.card {
  width: 384px;
  max-height: 512px;
  background-color: #ddd;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.card__header, .task {
  align-self: center;
}

.card__header {
  height: 32px;
  font-size: 32px;
}

.card__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  align-items: center;
}

.task {
  margin-top: 8px;
  font-size: 24px;
  background-color: #eee;
  padding: 8px;
  display: flex;
  align-items: center;
}

.task__text {
  margin-left: 8px;
  overflow-x: hidden;
}

label {
  /* display: flex;
  align-items: center; */
  display: inline-block;
  margin-left: 4px;
}

.input_checkbox {
  display: none;
}

.input_task {
  height: 50px;
  width: 75%
}

i {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: solid 2px #ccc;
  position: relative;
}

i::before {
  content: '';
  position: absolute;
  background: #555;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s;
}

input:checked + i::before {
  transform: scale(1);
}

.add-container-button {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 16px;
  margin-left: 16px;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
}

.add-container-button:hover {
  background-color: darkcyan;
  transition: .5s;
  outline-style: none;
}

.add-container-button:focus {
  outline-style: none;
}

.add-task-button {
  width: 100%;
  outline-style: none;
  border: 0;
  width: 50px;
  height: 50px;
}

.task-delete-button {
  min-width: 24px;
  min-height: 24px;
  margin-left: auto;
}
